body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}

header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    display: flex;
    padding: 1em;
}

.anime-list {
    flex: 1;
    margin-right: 1em;
}

.anime-list ul {
    list-style-type: none;
    padding: 0;
}

.anime-list li {
    background-color: #fff;
    margin-bottom: 0.5em;
    padding: 1em;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.anime-list li:hover {
    background-color: #ececec;
}

.anime-details {
    flex: 2;
    background-color: #fff;
    padding: 1em;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}